*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #080808;
  color: #fff; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../image/image.png);
  background-position: 110% 0;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 60% 100%; }
  .header__logo {
    display: inline-block; }
  .header__text {
    margin-top: 20%;
    font-size: 3rem; }
  .header__span {
    color: #ff004f; }
  @media only screen and (max-width: 31.5em) {
    .header__profession {
      font-size: 1.7rem; } }

.heading-1 {
  font-size: 6rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 50em) {
    .heading-1-small {
      font-size: 3rem; } }
  @media only screen and (max-width: 31.5em) {
    .heading-1-small {
      font-size: 1.7rem; } }

.heading-2 {
  font-size: 4rem;
  letter-spacing: .4rem; }
  .heading-2 span {
    font-size: 5rem;
    font-weight: 900; }

.footer {
  padding: 3rem;
  background-color: #262626; }
  .footer__copyright {
    text-align: center; }
    .footer__copyright-text {
      font-size: 3rem;
      color: #fff; }
      @media only screen and (max-width: 36.5em) {
        .footer__copyright-text {
          font-size: 2rem; } }

.container {
  padding: 1rem 10%; }
  @media only screen and (max-width: 31.25em) {
    .container {
      padding: 1rem; } }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .navigation__input {
    display: none; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    margin: 1rem 2rem; }
  .navigation__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative; }
    .navigation__link::after {
      content: "";
      width: 0;
      height: .3rem;
      background-color: #ff004f;
      position: absolute;
      left: 0;
      bottom: -6px;
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease; }
    .navigation__link:hover::after {
      width: 100%;
      opacity: 1;
      visibility: visible; }
  @media only screen and (max-width: 37.5em) {
    .navigation__list {
      list-style: none;
      background-color: #ff004f;
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      z-index: 200;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      padding: 5rem 0 0 0; }
    .navigation__item {
      display: inline-block;
      margin: 2rem 2rem; }
    .navigation__button {
      position: fixed;
      top: 2rem;
      right: 1rem;
      display: block;
      height: .4rem;
      width: 3rem;
      cursor: pointer;
      background-color: #ff004f;
      z-index: 40000; }
      .navigation__button::after, .navigation__button::before {
        content: "";
        display: block;
        height: .4rem;
        width: 3rem;
        position: absolute;
        background-color: #ff004f;
        transition: all .3s ease; }
      .navigation__button::after {
        top: 1rem; }
      .navigation__button::before {
        top: -1rem; }
    .navigation__input:checked + .navigation__label .navigation__button {
      background-color: transparent; }
    .navigation__input:checked + .navigation__label .navigation__button::after {
      background-color: #fff;
      transform: rotate(-135deg);
      top: 0; }
    .navigation__input:checked + .navigation__label .navigation__button::before {
      background-color: #fff;
      transform: rotate(135deg);
      top: 0; }
    .navigation__input:checked ~ .navigation__list {
      opacity: 1;
      visibility: visible; } }

#section__about {
  padding: 8rem 0;
  color: #ababab; }
  @media only screen and (max-width: 50em) {
    #section__about {
      padding: 8rem 0 3rem 0; } }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 50em) {
    .row {
      flex-direction: column; } }

.about-col-1 {
  flex-basis: 35%; }

.about__img {
  height: 50rem;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4); }
  .about__img .image {
    height: 100%;
    width: 100%; }

.about-col-2 {
  flex-basis: 60%; }
  @media only screen and (max-width: 50em) {
    .about-col-2 {
      padding: 4rem 0 0 0; } }

.about__title {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: justify; }

.about__titles {
  display: flex;
  margin: 2rem 0 4rem; }

.about__links {
  margin-right: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative; }
  .about__links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -.8rem;
    transition: all .5s ease-out; }
  .about__links-active::after {
    width: 50%; }

.about__contents {
  display: none; }
  .about__contents-active {
    display: block; }

.about__item {
  list-style: none; }

.about__list {
  margin: 1rem 0;
  font-size: 1.6rem; }
  .about__list span {
    color: #b54769;
    font-size: 1.8rem; }

#section__services {
  padding: 3rem 0; }

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem; }

.services__block {
  background-color: #262626;
  padding: 4rem;
  font-weight: 300;
  border-radius: 1rem;
  transition: all .3s ease-in-out; }
  .services__block p {
    font-size: 1.5rem;
    text-align: justify; }
  .services__block:hover {
    background-color: #ff004f;
    transform: translateY(-1rem); }

.services__icon {
  margin-bottom: 3rem; }
  .services__icon--1 {
    height: 5rem;
    width: 5rem;
    fill: #fff; }

.services__heading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 1.5rem; }
  .services__heading-main {
    font-size: 6rem;
    padding: 5rem 0;
    text-transform: uppercase; }

.services__link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  display: inline-block;
  color: #fff; }

#section__portfolio {
  padding: 5rem 0; }
  @media only screen and (max-width: 50em) {
    #section__portfolio {
      padding: 0; } }

.work__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem; }

.work__item {
  position: relative;
  border-radius: 1rem;
  height: 40rem;
  width: 100%;
  overflow: hidden; }

.work__image {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: all .3s ease-out; }

.work__layer {
  height: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  transition: all .4s ease;
  cursor: pointer; }
  @media only screen and (hover: none) {
    .work__layer {
      height: 100%; } }

.work__item:hover .work__layer {
  height: 100%; }

.work__item:hover .work__image {
  transform: scale(1.1); }

.work__heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.work__text {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify; }

.work__link {
  margin-top: 2rem;
  color: #ff004f;
  text-decoration: none;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.work__icon {
  fill: #ff004f;
  width: 4rem;
  height: 4rem; }

.block {
  padding: 6rem 0;
  text-align: center; }

.btn,
.btn:link,
.btn:active {
  display: inline-block;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 1.4rem 5rem;
  border-radius: .6rem;
  text-decoration: none;
  color: #fff;
  transition: all .3s ease-in-out;
  font-size: 1.6rem; }

.btn:hover {
  background-color: #ff004f; }

.contact__left {
  flex-basis: 35%; }

.contact__text {
  margin-top: 3rem;
  font-size: 1.9rem; }

.contact__num {
  margin-top: 3rem;
  font-size: 1.9rem; }

.contact__social {
  margin-top: 3rem; }
  .contact__social-link {
    margin-right: 1.5rem;
    display: inline-block; }
  .contact__social-icon {
    fill: #fff;
    height: 4rem;
    width: 4rem;
    transition: all .3s ease; }
    .contact__social-icon--1, .contact__social-icon--2 {
      fill: #ff004f;
      height: 1.8rem;
      width: 1.8rem; }
  .contact__social-link:hover .contact__social-icon {
    fill: #ff004f;
    transform: translateY(-0.5rem); }

.contact__right {
  flex-basis: 60%; }

.contact__block {
  background-color: #ff00;
  width: 90%; }

.contact__form-input {
  transition: all .3s; }

.contact__form-input:invalid {
  border: 0.2rem solid #ff004f; }

.contact__form-input:valid {
  border: .2rem solid greenyellow; }

.contact__form-input, .contact__form-textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: .6rem; }

.contact__form .btn-2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer; }

.btn-2 {
  display: inline-block;
  background-color: #ff004f;
  margin-top: 3rem;
  cursor: pointer; }
